html {
  height: 100%;
  width: 100%;
}
h1{
  color: blue;
  font-family: 'Trebuchet MS';
}
h2 {
  font-family: 'Trebuchet MS';
  color: lightcoral;
}
body{
  background-image: url(clouds.webp);
}
button{
  background-color: blue;
  font-family: 'Trebuchet MS';
}

